<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebPluginLocalizationName</key>
	<string>en_US</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/pdf</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PDF Image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>application/sdp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sdp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SDP stream descriptor</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/smil</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>smi</string>
				<string>sml</string>
				<string>smil</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SMIL 1.0</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>application/x-mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>amc</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AMC media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-quicktimeplayer</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qtl</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QuickTime Player Movie</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>application/x-rtsp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>rtsp</string>
				<string>rts</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>RTSP stream descriptor</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>application/x-sdp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sdp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SDP stream descriptor</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/3gpp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>3gp</string>
				<string>3gpp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>3GPP media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/3gpp2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>3GPP2 media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/AMR</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>AMR</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AMR audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/aac</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aac</string>
				<string>adts</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AAC audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/ac3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ac3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AC3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/aiff</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
				<string>aifc</string>
				<string>cdda</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AIFF audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/basic</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>au</string>
				<string>snd</string>
				<string>ulw</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>uLaw/AU audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mid</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
				<string>smf</string>
				<string>kar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MIDI</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/midi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
				<string>smf</string>
				<string>kar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MIDI</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mp3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mp4</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG-4 media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m1s</string>
				<string>m1a</string>
				<string>mp2</string>
				<string>mpm</string>
				<string>mpa</string>
				<string>m2a</string>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mpeg3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/mpegurl</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m3u</string>
				<string>m3url</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 playlist</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/vnd.qcelp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qcp</string>
				<string>qcp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QUALCOMM PureVoice audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/wav</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wav</string>
				<string>bwf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>WAVE audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-aac</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aac</string>
				<string>adts</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AAC audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-ac3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ac3</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AC3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-aiff</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
				<string>aifc</string>
				<string>cdda</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AIFF audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-caf</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>caf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>CAF audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-gsm</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>gsm</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>GSM audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-m4a</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AAC audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-m4b</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m4b</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AAC audio book</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-m4p</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m4p</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AAC audio (protected)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-matroska</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mkv</string>
				<string>mka</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Matroska file</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/x-midi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
				<string>smf</string>
				<string>kar</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MIDI</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mp3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m1s</string>
				<string>m1a</string>
				<string>mp2</string>
				<string>mpm</string>
				<string>mpa</string>
				<string>m2a</string>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mpeg3</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp3</string>
				<string>swa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>audio/x-mpegurl</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m3u</string>
				<string>m3url</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MP3 playlist</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/x-ms-wax</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/x-ms-wma</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/x-sd2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sd2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Sound Designer II</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>audio/x-wav</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wav</string>
				<string>bwf</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>WAVE audio</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/gif</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>GIF image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>image/jp2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG2000 image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/jpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jpe</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>image/jpeg2000</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG2000 image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/jpeg2000-image</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG2000 image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/pict</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pict</string>
				<string>pic</string>
				<string>pct</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PICT image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/pjpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jpe</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>image/png</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PNG image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/tiff</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>TIFF image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/vnd.fpx</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>fpx</string>
				<string>fpix</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>FlashPix image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>image/x-bmp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>bmp</string>
				<string>dib</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>BMP image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-jpeg2000-image</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>JPEG2000 image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-macpaint</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pntg</string>
				<string>pnt</string>
				<string>mac</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MacPaint image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-photoshop</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>psd</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Photoshop image</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>image/x-pict</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>pict</string>
				<string>pic</string>
				<string>pct</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PICT image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-png</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>PNG image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-quicktime</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qtif</string>
				<string>qti</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QuickTime image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-sgi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sgi</string>
				<string>rgb</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SGI image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-targa</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>targa</string>
				<string>tga</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>TGA image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>image/x-tiff</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>TIFF image</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>text/x-html-insertion</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>qht</string>
				<string>qhtm</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QuickTime HTML (QHTM)</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/3gpp</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>3gp</string>
				<string>3gpp</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>3GPP media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/3gpp2</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>3GPP2 media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/avi</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Video For Windows (AVI)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/flc</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>flc</string>
				<string>fli</string>
				<string>cel</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AutoDesk Animator (FLC)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/mp4</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG-4 media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m1s</string>
				<string>m1v</string>
				<string>m1a</string>
				<string>m75</string>
				<string>m15</string>
				<string>mp2</string>
				<string>mpm</string>
				<string>mpv</string>
				<string>mpa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/msvideo</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Video For Windows (AVI)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/quicktime</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>mqv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>QuickTime Movie</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/sd-video</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>sdv</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SD video</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-dv</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>dv</string>
				<string>dif</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Digital video (DV)</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-m4v</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Video (protected)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-matroska</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mkv</string>
				<string>mka</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Matroska file</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-mpeg</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>mpeg</string>
				<string>mpg</string>
				<string>m1s</string>
				<string>m1v</string>
				<string>m1a</string>
				<string>m75</string>
				<string>m15</string>
				<string>mp2</string>
				<string>mpm</string>
				<string>mpv</string>
				<string>mpa</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>MPEG media</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
		<key>video/x-ms-asf</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-ms-asx</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-ms-wm</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-ms-wmv</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-ms-wmx</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-ms-wvx</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
				<string>wm</string>
				<string>asf</string>
				<string>ass</string>
				<string>wvx</string>
				<string>wmx</string>
				<string>wax</string>
				<string>asx</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Windows Media</string>
			<key>WebPluginTypeEnabled</key>
			<false/>
		</dict>
		<key>video/x-msvideo</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>avi</string>
				<string>vfw</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Video For Windows (AVI)</string>
			<key>WebPluginTypeEnabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
